<h1>Contact</h1>

<h2>Vous souhaitez en savoir plus sur Biblys ?</h2>

<p>Derrière Biblys, il y a <a href="https://www.linkedin.com/in/clement-bourgoin">Clément Bourgoin</a>, ancien libraire, développeur à temps partiel chez <a href="http://www.actialuna.com/">Actialuna</a>, responsable numérique aux <a href="https://www.belial.fr/">Éditions du Bélial'</a>, co-fondateur des <a href="https://www.dystopia.fr/">Éditions Dystopia</a>, développeur web polyvalent et indépendant, passionné par les problématiques modernes du livre.</p>

<p>N'hésitez pas à me contacter à l'aide du formulaire ci-dessous en m'exposant votre projet et vos besoins, afin que nous puissions définir ensemble ensemble si Biblys est la bonne solution pour vous.</p>

{% include 'AppBundle:Main:_contact_form.html.twig' %}
