<!-- CAROUSEL (STATIQUE) -->

<div id="home-carousel" class="home-carousel">
  <!-- Bannière 1 -->
  <a href="/a/jean-laurent-del-socorro/je-suis-fille-de-rage">
    <article
      class="carousel-post"
      style="background-image: url('/actusf/media/bandeaux/sortiesoctobresite.jpg')"
    ></article>
  </a>

  <!-- Bannière 2 -->
  <a href="blog/lancement-du-financement-participatif-de-actusf-graphic">
    <article
      class="carousel-post"
      style="background-image: url('/actusf/media/bandeaux/ban-actusfgraphic-editions.jpg')"
    ></article>
  </a>

  <!-- Bannière 3 -->
  <a href="/a/st-joshi/lovecraft-je-suis-providence-tome-1">
    <article
      class="carousel-post"
      style="background-image: url('/actusf/media/bandeaux/bandeau-je-suis-providence.jpg')"
    ></article>
  </a>

  <img
    alt="Précédent"
    class="prev-button"
    id="carousel-prev-button"
    src="/actusf/media/layout/carousel-arrow.png"
  />
  <img
    alt="Suivant"
    class="next-button"
    id="carousel-next-button"
    src="/actusf/media/layout/carousel-arrow.png"
  />
</div>

<!-- NOUVEAUTÉS (DYNAMIQUE) -->

<div class="home-articles">
  {% for article in articles %}
  <div class="article">
    {% if article.hasCover() %}
      {{
        article.getCoverTag({
          size: "w600",
          link: path("article_show", { slug: article.url })
        }) | raw
      }}
    {% endif %}
  </div>
  {% endfor %}
</div>

<!-- COUPS DE COEUR (STATIQUE) -->
