{% extends "layout:base.html.twig" %}

{% block title %}
  Contact
{% endblock %}

{% block main %}

  <h1>Contact</h1>

  <h2>Vous rencontrez un problème technique <br /> avec un site Biblys ?</h2>

  <p>
    <a href="https://bugs.biblys.fr" class="btn btn-info">Obtenir de l'aide</a>
  </p>

  <h2>Vous souhaitez en savoir plus sur Biblys ?</h2>

  <p>Derrière Biblys, il y a <a href="https://clemlatz.dev">Clément Latzarus</a>, ancien libraire, ancien responsable numérique des <a href="https://www.belial.fr/">Éditions du Bélial'</a>, co-fondateur des <a href="https://www.dystopia.fr/">Éditions Dystopia</a>, reconverti dans le développement web depuis plus de 10 ans, mais toujours passionné par les problématiques modernes du livre.</p>

  <p>Lead Developer à temps partiel chez <a href="https://pix.fr">Pix</a>, le service public pour évaluer, développer et certifier les compétences numériques, je consacre une journée par semaine au développement de Biblys, un projet que je porte depuis 2008, et à la maintenance d'une quinzaine de sites de maison d'éditions et de librairies indépendantes.</p>
  
  <p>N'hésitez pas à me contacter à l'aide du formulaire ci-dessous en m'exposant votre projet et vos besoins, afin que nous puissions définir ensemble ensemble si Biblys est la bonne solution pour vous.</p>

  <p>Vous préférez discuter ? <a href="https://rdv.clemlatz.dev" class="btn btn-success btn-xs">Prendre rendez-vous pour un appel en visio</a></p>

  {% include 'AppBundle:Main:_contact_form.html.twig' %}

{% endblock %}
