{% extends "layout:base.html.twig" %}

{% block main %}
  <div class="home-page">
    <p class="baseline" style="text-align: center;">
      La solution e-commerce au service<br/>
      de l'édition indépendante.
    </p>

    <h2 class="baseline">Que peut faire Biblys pour vous ?</h2>

    <p>
      <strong>Vous êtes éditeur ? Biblys peut vous permettre de vendre vos livres par correspondance ou en numérique
        depuis votre site, de gérer un blog, un calendrier d'évènement et bien plus encore !</strong>
    </p>

    <h3>Fonctionnalités</h3>

    <ul>
      <li>la gestion facile votre site vitrine pour présenter votre catalogue&nbsp;;</li>
      <li>la vente par correspondance des livres papiers ;</li>
      <li>la gestion des commandes&nbsp;(relance, expédition, suivi…) ;</li>
      <li>la vente en direct de livres numériques avec téléchargement sécurisé (sans DRM, watermarking en
        option)&nbsp;;
      </li>
      <li>l'envoi sécurisé d'épreuves ou de&nbsp;service de pressse numérique ;</li>
      <li>le paiement sécurisé par carte bancaire avec Stripe ou&nbsp;PayPlug&nbsp;;&nbsp;</li>
      <li>un blog et un calendrier liés à votre catalogue pour communiquer sur votre actualité&nbsp;;</li>
      <li>des campagnes de financement participatif pour impliquer votre communauté et&nbsp;financer vos projets ;</li>
      <li>un éditeur de thème intégré pour personaliser entièrement votre site ;</li>
      <li>des envois d'e-mails transactionnels illimités.</li>
    </ul>
    <p>
      <strong>Vous êtes libraire ?</strong>
      <a href="https://www.biblys.fr/page/biblys-pour-les-libraires">
        Découvrez si Biblys est adapté à vos besoins.
      </a>
    </p>
  </div>

  <h2 class="baseline">Ils font confiance à Biblys</h2>

  <h3>Éditeurs</h3>
  <div class="customers">
    <div class="customer">
      <a href="https://www.belial.fr/" target="_blank"><img alt="Le Bélial'" src="/theme/logo-belial.jpg"
                                                            title="Le Bélial'"/></a>
    </div>

    <div class="customer">
      <a href="https://www.editions-actusf.fr/" target="_blank"><img alt="Éditions ActuSF" src="/theme/actusf.png"
                                                                     title="Éditions ActuSF"/></a>
    </div>

    <div class="customer">
      <a href="https://www.dystopia.fr/" target="_blank"><img alt="Éditions Dystopia" src="/theme/dystopia.png"
                                                              title="Éditions Dystopia"/></a>
    </div>

    <div class="customer">
      <a href="https://www.editionsvelvet.com/" target="_blank"><img alt="Éditions Velvet"
                                                                     src="/theme/editions-velvet.jpg"
                                                                     title="Éditions Velvet"/></a>
    </div>

    <div class="customer">
      <a href="https://www.leseditionsmusidora.com/" target="_blank"><img alt="Éditions Musidora"
                                                                          src="/theme/editions-musidora.png"
                                                                          title="Éditions Musidora"/></a>
    </div>
  </div>

  <h3>Librairies</h3>
  <div class="customers">
    <div class="customer">
      <a href="https://librairielatalante.com/" target="_blank"><img alt="Librairie L'Atalante"
                                                                     src="/theme/librairie-l-atalante.jpg"
                                                                     title="Librairie L'Atalante"/></a>
    </div>

    <div class="customer">
      <a href="https://www.scylla.fr/" target="_blank"><img alt="Librairie Scylla" src="/theme/scylla.png"
                                                            title="Librairie Scylla"/></a>
    </div>

    <div class="customer">
      <a href="https://www.charybde.fr/" target="_blank"><img alt="Charybde" src="/theme/charybde.jpg"
                                                              title="Librairie Charybde"/></a>
    </div>

    <div class="customer">
      <a href="https://alterlibris.fr/" target="_blank"><img alt="Librairie Alterlibris"
                                                             src="/theme/librairie-alterlibris.jpg"
                                                             title="Librairie Alterlibris"/></a>
    </div>

    <div class="customer">
      <a href="https://lavondyss.fr/" target="_blank"><img alt="Librairie Lavondyss"
                                                           src="/theme/librairie-lavondyss.png"
                                                           title="Librairie Lavondyss"/></a>
    </div>
  </div>

  <h3>Associations d'éditeurs</h3>
  <div class="customers">
    <div class="customer">
      <a href="https://www.lautrelivre.fr/" target="_blank"><img alt="L'Autre Livre" src="/theme/l-autre-livre.jpg"
                                                                 title="L'Autre Livre"/></a>
    </div>

    <div class="customer">
      <a href="https://www.biblys.fr/blog/la-librairie-du-voyageur-propulsee-par-biblys" target="_blank"><img
          alt="Librairie du Voyageur" src="/theme/voyageur.png" title="Librairie du Voyageur"/></a>
    </div>
  </div>

  <h2 class="baseline">L'administration : un aperçu des fonctionnalités de&nbsp;Biblys</h2>

  <p style="text-align: center;"><img alt="" src="https://www.biblys.fr/biblys/media/screens/administration.png"
                                      style="max-width:100%;"/></p>
  </div>
{% endblock %}
