{% extends "layout:base.html.twig" %}

{% block title %}
	Bienvenue !
{% endblock %}

{% block main %}
	<div class="home-page">
		<p class="baseline" style="text-align: center;">La solution web tout-en-un au service<br/>
			de la librairie et l'édition indépendante.</p>

		<h2 class="baseline">Que peut faire Biblys pour vous ?</h2>

		<div class="row">
			<div class="col-sm-4">
				<p style="text-align: center;">
					<strong>Vous êtes libraire ?</strong>
					Biblys vous permet de gérer le site web de votre&nbsp;librairie,&nbsp;la vente par correspondance de livres papiers, l'agenda de vos évènements, un blog etc.</p>

				<p style="text-align: center;">
					<a class="btn btn-info" href="/pages/biblys-pour-les-libraires">En savoir plus</a>
				</p>
			</div>

			<div class="col-sm-4">
				<p style="text-align: center;">
					<strong>Vous êtes éditeur ?</strong>
					Biblys peut vous permettre de vendre vos livres par correspondance ou en numérique depuis votre site, un agenda, un blog, et bien plus encore !</p>

				<p style="text-align: center;">
					<a class="btn btn-info" href="/pages/biblys-pour-les-editeurs">En savoir plus</a>
				</p>
			</div>

			<div class="col-sm-4">
				<p style="text-align: center;">
					<strong>Vous êtes organisateur d'un événement littéraire ?</strong>
					Biblys peut vous aider à gérer le site web de votre événement avec des fiches invités détaillées&nbsp;et bien plus encore !</p>

				<p style="text-align: center;">
					<a class="btn btn-info" href="/pages/biblys-pour-les-evenements-litteraires">En savoir plus</a>
				</p>
			</div>
		</div>

		<h2 class="baseline">Ils font confiance à Biblys</h2>

		<h3>Éditeurs</h3>
		<div class="customers">
			<div class="customer">
				<a href="https://www.belial.fr/" target="_blank"><img alt="Le Bélial'" src="/theme/logo-belial.jpg" title="Le Bélial'"/></a>
			</div>

			<div class="customer">
				<a href="https://www.editions-actusf.fr/" target="_blank"><img alt="Éditions ActuSF" src="/theme/actusf.png" title="Éditions ActuSF"/></a>
			</div>

			<div class="customer">
				<a href="https://www.dystopia.fr/" target="_blank"><img alt="Éditions Dystopia" src="/theme/dystopia.png" title="Éditions Dystopia"/></a>
			</div>

			<div class="customer">
				<a href="https://www.editionsvelvet.com/" target="_blank"><img alt="Éditions Velvet" src="/theme/editions-velvet.jpg" title="Éditions Velvet"/></a>
			</div>
		</div>

		<h3>Librairies</h3>
		<div class="customers">
			<div class="customer">
				<a href="https://librairielatalante.com/" target="_blank"><img alt="Librairie L'Atalante" src="/theme/librairie-l-atalante.jpg" title="Librairie L'Atalante"/></a>
			</div>

			<div class="customer">
				<a href="https://www.scylla.fr/" target="_blank"><img alt="Librairie Scylla" src="/theme/scylla.png" title="Librairie Scylla"/></a>
			</div>

			<div class="customer">
				<a href="https://www.charybde.fr/" target="_blank"><img alt="Charybde" src="/theme/charybde.jpg" title="Librairie Charybde"/></a>
			</div>

			<div class="customer">
				<a href="https://alterlibris.fr/" target="_blank"><img alt="Librairie Alterlibris" src="/theme/librairie-alterlibris.jpg" title="Librairie Alterlibris"/></a>
			</div>
		</div>

		<h3>Associations d'éditeurs</h3>
		<div class="customers">
			<div class="customer">
				<a href="https://www.lautrelivre.fr/" target="_blank"><img alt="L'Autre Livre" src="/theme/l-autre-livre.jpg" title="L'Autre Livre"/></a>
			</div>

			<div class="customer">
				<a href="https://www.biblys.fr/blog/la-librairie-du-voyageur-propulsee-par-biblys" target="_blank"><img alt="Librairie du Voyageur" src="/theme/voyageur.png" title="Librairie du Voyageur"/></a>
			</div>
		</div>

		<h2 class="baseline">L'administration : un aperçu des fonctionnalités de&nbsp;Biblys</h2>

		<p style="text-align: center;"><img alt="" src="https://www.biblys.fr/biblys/media/screens/administration.png" style="max-width:100%;"/></p>
	</div>
{% endblock %}
